page-city {
  .city-content{
    padding: 0;
  }
  .grid-city-content{
    padding: 0;
  }
  .rank-title{
    font-size: 16px;
    font-weight: bold;
  }
  .scroll-content{
    padding: 0;
  }
  .stars-section{
    text-align: center;
  }
  .username-button{
    padding-left: 0;
  }
  .rank-section{
    //text-align: center;
    font-weight: bold;
  }
  .username-list{
    margin-bottom: 0;
  }
}
