<ion-header>
  <ion-navbar>
    <ion-title>city</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <form (ngSubmit)="searchCityRanking()" *ngIf="!cityRanking">
    <autocomplete [list]="languages" [key]="'language'" (selectedItem)="updateKey($event)"
                  [placeholder]="'Language'"></autocomplete>
    <autocomplete [list]="cities" [key]="'city'" (selectedItem)="updateKey($event)"
                  [placeholder]="'City'"></autocomplete>
    <button ion-button type="submit" [disabled]="!language && !city">Search</button>
  </form>


  <ion-content *ngIf="cityRanking">
    <ion-grid>
      <ion-row class="ranking-titles">
        <ion-col><h3>Rank</h3></ion-col>
        <ion-col col-8><h3>Username</h3></ion-col>
        <ion-col><h3>Stars</h3></ion-col>
      </ion-row>
      <ion-row *ngFor="let ranking of cityRanking">
        <ion-col align-self-center>{{ranking.rank}}</ion-col>
        <ion-col col-8 align-self-start>
          <ion-list>
            <button ion-item>
              <ion-avatar item-left>
                <img [src]="ranking.avatar">
              </ion-avatar>
              <h3><b>{{ ranking.username }}</b></h3>
            </button>
          </ion-list>
        </ion-col>
        <ion-col>{{ranking.stars}}
          <ion-icon name="star" class="star-icon"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>


</ion-content>
