<ion-header>
  <ion-navbar>
    <ion-title *ngIf="!userdata">User Awards</ion-title>
    <ion-title *ngIf="userdata">{{userdata.username}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding >
  <form (ngSubmit)="searchUsername()" *ngIf="!userdata">
    <ion-item>
      <ion-label>Username</ion-label>
      <ion-input type="text" [(ngModel)]="username" name="username"></ion-input>
    </ion-item>
    <button ion-button type="submit" block>Search</button>
  </form>

    <ion-card *ngIf="userdata">

      <img class="avatar" [src]="userdata.avatar" alt="">
      <h2 class="city-country"><b>Username: {{userdata.username}}</b></h2>
      <h2 class="city-country"><b>City: {{userdata.city || 'N/D'}}</b></h2>
      <h2 class="city-country"><b>Country: {{userdata.country || 'N/D'}}</b></h2>

      <ion-list>
        <ion-item *ngFor="let ranking of userdata.rankings">
          <h2><b>Language: </b>{{ranking.language}}</h2>
          <h3><b>City:</b> {{ranking.city}}</h3>
          <h3><b>Country:</b> {{ranking.country || 'N/D'}}</h3>
          <h3><b>Worldwide:</b> {{ranking.worldwide || 'N/D'}}</h3>
          <h3><b>Repos:</b> {{ranking.repos || 'N/D'}}</h3>
          <h3><b>Stars:</b> {{ranking.stars || 'N/D'}}</h3>
        </ion-item>
      </ion-list>
    </ion-card>

</ion-content>
