page-world {
  .world-content{
    padding: 0;
  }
  .grid-world-content{
    padding: 0;
  }
  .rank-title{
    font-size: 16px;
    font-weight: bold;
  }
  .stars-section{
    text-align: center;
  }
  .username-button{
    padding-left: 0;
  }
  .rank-section{
    font-weight: bold;
  }
  .username-list{
    margin-bottom: 0;
  }
}
