<ion-header>

  <ion-navbar>
    <ion-title>WORLD</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <form  (ngSubmit)="searchWorldRanking()" *ngIf="!worldRanking">
    <autocomplete [list]="languages" [key]="'language'" (selectedItem)="updateKey($event)" [placeholder]="'Language'"></autocomplete>
    <button ion-button type="submit" [disabled]="!language">Search</button>
  </form>

  <div *ngIf="worldRanking">
    <ion-grid>
      <ion-row>
        <ion-col>Ranking</ion-col>
        <ion-col>Username</ion-col>
        <ion-col>Stars</ion-col>
      </ion-row>
      <ion-row *ngFor="let ranking of worldRanking">
        <ion-col>{{ranking.rank}}</ion-col>
        <ion-col>
          <ion-avatar item-left>
            <img [src]="ranking.avatar">
          </ion-avatar>
          {{ranking.username}}
        </ion-col>
        <ion-col>{{ranking.stars}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
