page-index {
  .main-content{
    padding: 2px;
  }
  .principal-title{
    text-align: center;
    margin-top: 60px
  }
  .main-button{
    font-weight: bold !important;
  }
  .button-list{
    margin-top: 70px !important;
  }
}
