page-index {
  .main-content {
    padding: 2px;
  }
  .principal-title {
    text-align: center;
    margin-top: 30px
  }
  .main-button {
    font-weight: bold !important;
  }
  .button-list {
    margin-top: 20px !important;
  }
  .prize-container {
    display: flex;
    .prize {
      width: 288px;
      height: 105px;
      margin: auto;
    }
  }
  .image-container {
    margin-top: 20px;
    display: flex;
    .main-image {
      width: 288px;
      height: 152px;
      margin: auto;
    }
  }
}
