// http://ionicframework.com/docs/v2/theming/
@font-face{
  font-family: Roboto;
  src: url('../assets/fonts/Roboto.woff2') format('woff2');
}

*{
  font-family: Roboto;
}
.ranking-titles{
  font-weight: bold;
  h3{
    font-size: 23px;
  }

}

.star-icon{
  // color: yellow;
}

