
<ion-header>

  <ion-navbar>
    <ion-title>country</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form  (ngSubmit)="searchCountryRanking()" *ngIf="!userdata">
    <ion-item>
      <ion-label>Choose a language</ion-label>
      <ion-select [(ngModel)]="language" name="language">
        <ion-option [value]="language" *ngFor="let language of languages">{{language}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-searchbar
      [(ngModel)]="country"
      name="country"
      [showCancelButton]="true"
      (ionInput)="getItems($event)"
      (ionCancel)="dismiss()"
      placeholder="Country">
    </ion-searchbar>
    <ion-list *ngIf="showList">
      <ion-item *ngFor="let item of items" (click)="chooseItem(item)">
        {{ item }}
      </ion-item>
    </ion-list>
    <button ion-button type="submit" [disabled]="!language">Search</button>
  </form>

</ion-content>
